@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* Font */

* {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* Elements */
:root {
  --color-background-regular: #001e1d;
  --color-background-light: rgb(171, 209, 198, 0.85);
  --bg-color-nav: rgb(171, 209, 198);
  --color-paragraph: #0f3433;
  --color-subheadline: #0f3433;
  --color-headline: #001e1d;
  --color-paragraph: #abd1c6;
  /* a cor de botão é a mesma do --color-link: #f9bc60; */
  --color-link: #f9bc60;

  /* cores uteis para a página produtos  */
  --background-products: #004643;
  --headline: #fffffe;
  --card-headline: #001e1d;
  --card-paragraph: #004643;
  --card-background: #e8e4e6;
}

body {
  background-color: aquamarine;
}

/* Estilização para tirar a barra de Rolamento da pagina */
/* Chrome, Safari e Opera */
body::-webkit-scrollbar {
  display: none;
}

.shadow-img {
  box-shadow: 0 0px 6px #004643;
  border-radius: 20px;
}

.hero {
  background-color: var(--color-background-light);
  color: var(--color-subheadline);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.custom-navbar {
  position: fixed;
  background-color: var(--bg-color-nav) !important;
  color: var(--color-headline);
  justify-content: space-between;
}

.custom-button-light {
  display: inline-block;
  padding: 3px 6px;
  cursor: pointer;
  font-size: 1rem;
  background-color: rgba(249, 189, 98, 0.75);
  border: none;
  border-radius: 20px 0px;
  transition: all 0.8s ease;
}

.custom-button-regular {
  display: inline-block;
  padding: 3px 6px;
  color: var(--color-);
  cursor: pointer;
  font-size: 1rem;
  background-color: var(--card-background);
  border: none;
  border-radius: 4px;
  box-shadow: 0 0px 6px #004643;
  transition: all 0.8s ease;
  z-index: inherit;
}

a.custom-button-light,
a.custom-button-regular {
  text-decoration: none;
  color: inherit; /* herda a cor do botão (definida no button ou no container) */
  display: inline-block; /* necessário se o <a> estiver estilizado como botão */
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .custom-button-regular,
  .custom-button-light {
    padding: 2px 4px;
    font-size: 0.8rem;
  }
}

/* Hover só em dispositivos com mouse */
@media (hover: hover) and (pointer: fine) {
  .custom-button-regular:hover {
    background-color: #001e1d;
    color: var(--color-paragraph);
    transform: scale(1.5);
  }

  .custom-button-light:hover {
    background-color: #e3a953;
    transform: scale(1.5);
  }
}

.custom-button-light,
.custom-button-regular {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

.custom-button-light:focus,
.custom-button-regular:focus {
  outline: 2px solid #e3a953;
  outline-offset: 2px;
  transition: all 0.8s ease;
}
